extends layout

block content
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Ramsey Mardini</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About Me <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
          <a class="dropdown-item" href="projects/vaporvoid">VaporVoid</a>
          <a class="dropdown-item" href="/projects/bluebeard">The Tale of Bluebeard</a>
          <a class="dropdown-item" href="/projects/website">Website</a>
          <a class="dropdown-item" href="/projects/other">School + Robotic Projects</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://drive.google.com/file/d/1bbUrbP9FA6VYJTN_Vy6poIzcc1XYL0Dw/view?usp=sharing" target="_blank">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="links">Links + Github</a>
      </li>

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
  </nav>
  
  h3 Quick facts:
  ul
    li I’m a second year EECS student at UC Berkeley
    li I’m from Laguna Niguel in southern California
    li I do both software and hardware but I'm more experienced with software
    li For software my primary interests are in web, game, and desktop development
    li For hardware I like making simple robotics and working with circuits
    
  br
  
  h3 What am I learning now:
  ul
    li Node.js
    li Express
    li Using AWS
    li Music Theory
    li Arabic
  
  br

  h3 What am I reading now:
  ul
    li A Complete Idiot’s Guide to Music Theory
    li So Good They Can’t Ignore You
    li Cracking the Coding Interview
  
  br

  h3 To-learn:
  ul
    li Mobile development using Swift and Android Studio
    li Go
    li Rust
    li Piano
