extends layout

block content
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="index.pug">Ramsey Mardini</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="about.pug">About Me <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.pug">Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
          <a class="dropdown-item" href="#">VaporVoid</a>
          <a class="dropdown-item" href="#">The Tale of Bluebeard</a>
          <a class="dropdown-item" href="#">Website</a>
          <a class="dropdown-item" href="#">School + Robotic Projects</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="resume.pug">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="links.pug">Links + Github</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>
  h1 Welcome to my website!
  h3 Unfortunately there isn't much here....yet! Come back in January to see the website when it's more developed!
  <a href = https://github.com/ramseymardini><h3> Github Link </h3></a>
  <a href = https://drive.google.com/open?id=14_wwoVOpJIOZE7OvgGnC63r2YMOaZrsm><h3> Resume </h3></a>
