extends layout

block content
  h1 Welcome to my website!
  h3 Unfortunately there isn't much here....yet! Come back in January to see the website when it's more developed!
  <a href = https://github.com/ramseymardini><h3> Github Link </h3></a>
  <a href = https://drive.google.com/open?id=14_wwoVOpJIOZE7OvgGnC63r2YMOaZrsm><h3> Resume </h3></a>
